@media (max-width: 950px){
  img{
    bottom: 80px;
  }
}
@media (max-width: 800px){
  .content-section{
    min-height: calc( 100vh );
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 30px 10%;
  }
  .introduction{
    width: 100%;
  }
  .common-questions{
    margin-top: 50px;
    width: 100%;
    max-width: 100%;
  }
  img{
    max-width: 60%;
    position: fixed;
    bottom: -15%;
  }
}
@media (max-width: 700px){
  img{
    bottom: -18%;
    /* max-width: 70%;
    bottom: -40vh; */
  }
}
@media (max-width: 600px){
  img{
    bottom: -19%;
    /* max-width: 90%;
    bottom: -40vh; */
  }
}
@media (max-width: 500px){
  img{
    bottom: -20%;
    /* max-width: 90%;
    bottom: -40vh; */
  }
}

@media (max-width: 420px){
  img{
    bottom: -21%;
    /* max-width: 90%;
    bottom: -40vh; */
  }
}
