@media (min-width: 1101px) {
  #home-li{
    display: none;
  }
}

@media (max-width: 1101px) {
  header .logo-container{
    display: none;
  }
  nav {
    justify-content: flex-end !important;
    margin: 0 !important;
  }
}

@media (max-width: 800px) {
  footer{
    flex-direction: column;
    min-height: 50vh;
  }
  .created-by, .flexing-container{
    align-items: center;
    justify-content: space-around;
    padding: 0px 30px;
  }
  .technologies{
    margin-right: 0px !important;
  }
}

@media (max-width: 650px) {
  .menu{
    position: fixed;
    width: 100%;
    height: 70px;
  }
  .menu li{
    width: 100%;
  }
  .menu li a{
    width: 100%;
    padding-right: 6px;
    padding-left: 6px;
    font-size: 14px;
  }
  .menu li #about-btn{
    width: 30px !important;
  }
  .grid{
    margin: 15px !important;
  }
}

@media (max-width: 400px) {
  footer{
    /* min-height: 70vh; */
  }
  .flexing-container{
    flex-direction: column;
    padding: 0 15px;
  }
  .technologies, .can-do{
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
  .created-by{
    text-align: center;
  }
  .technologies p, .can-do p{
    padding-right: 10px;
    width: 34%;
  }
  .technologies ul{
    width: 100%;
    columns: 2;
    height: 80px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }
  .flexing-container ul{
    width: 200px;
  }
}
