@media (max-width: 1101px) {
  .content-section{
    flex-direction: column;
    justify-content: center;
    width: 100%;
    align-items: center;
    margin-left: 0;
  }
  form{
    margin-right: 0;
    max-width: 60vw
  }
  .img-container{
    width: 60vw;
  }
  img{
    max-width: 60vw;
  }
  .btn-outline-info{
    height: 38px !important;
  }
}

@media (max-width: 800px) {
  form{
    max-width: 80vw
  }
  .img-container{
    width: 80vw;
  }
  img{
    max-width: 90vw;
  }
}
