form{
  margin-right: 50px;
}
main{
  background-color: inherit;
}
*{
  color: white;
}
textarea{
  height: 80px;
}
header ul a{
  border-bottom: 1px solid grey;
}
.content-section{
  margin: 30px 80px;
  justify-content: space-around;
  display: flex;
  flex-direction: row;
  align-content: flex-start;
}
.img-container{
  margin: auto 0;
  width: 40%;
  max-height: 350px;
  display: flex;
  justify-content: center;
}
img{
  max-height: 350px;
  max-width: 100%;
  object-fit: contain;
}
